# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ^up42/_version\.txt$|.github/CODEOWNERS
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-yaml
      - id: mixed-line-ending
  -   repo: https://github.com/asottile/pyupgrade
      rev: v3.21.2
      hooks:
        -   id: pyupgrade
            args: [--py313-plus]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        args: ["--line-length", "120"]
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black",  "--line-length", "120",]
  - repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ["--max-line-length=120"]
        exclude: tests/conftest.py # ignore pytest fixtures
  - repo: local
    hooks:
      - id: mypy
        files: \.py$
        name: mypy
        entry: mypy
        language: python
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [ python ]
