## Project information
site_name: UP42 Python SDK
site_url: https://up42.github.io/up42-py/
site_description: UP42 Python SDK

## Repository
repo_name: up42-py
repo_url: https://github.com/up42/up42-py
edit_uri: ''  #disables edit button

# Copyright
copyright: UP42 2020

## Social Media
extra:
  social:
    - icon: fontawesome/solid/home
      link: https://up42.com
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/up42_
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/up42/
    - icon: fontawesome/brands/github-alt
      link: https://github.com/up42
    - icon: fontawesome/brands/docker
      link: https://hub.docker.com/u/up42
    - icon: fontawesome/solid/envelope
      link: mailto:support@up42.com

## Page tree
nav:
    - Home: index.md
    - Getting Started:
      - 30 Second Example: 30-second-example.md
      - Installation: installation.md
      - Authentication: authentication.md
      - Structure: structure.md
      - Catalog Search: catalog.md
      - Ordering: ordering.md
      - Detailed Example: guides/detailed-example.ipynb
    - Examples:
        - Examples: examples.md
        - Basic Data Block Examples:
            - Airbus-Global Seeps Sample: examples/data-block-examples/airbus-globalseeps.ipynb
            - ESA-Sentinel-5P Level3: examples/data-block-examples/esa-sentinel5p-l3-example.ipynb
            - ExactEarth Historical Vessel Tracks: examples/data-block-examples/exactearth-hvt.ipynb
            - Hexagon 30cm Download: examples/data-block-examples/hexagon-hxgn-content-30cm-download-example.ipynb
            - Landsat-8 Level1 (GeoTIFF): examples/data-block-examples/landsat8-geotiff-example.ipynb
            - Meteomatics Weather / Ocean Data and Forecasts: examples/data-block-examples/meteomatics-example.ipynb
            - NEXTMap One - Elevation Data (Streaming) and Viewshed: examples/data-block-examples/nextmapone-viewshed-data-example.ipynb
            - OneAtlas WorldDEM: examples/data-block-examples/oneatlas-worlddem-12m-example.ipynb
            - Open Street Map: examples/data-block-examples/osm-example.ipynb
            - Pleiades Reflectance (Download): examples/data-block-examples/pleiades-download-example.ipynb
            - Sentinel-2 L2A Analytic (GeoTIFF): examples/data-block-examples/sentinel2-l2-a-geotiff-example.ipynb
            - Sobloo Sentinel-1 L1 SLC (SAFE): examples/data-block-examples/sobloo-sentinel1-l1-example.ipynb
        - Advanced Examples:
          - Aircraft detection: examples/aircraft-detection.ipynb
          - Radar processing: examples/radar_processing_1.ipynb
          - Flood mapping: examples/flood_mapping.ipynb
          - Catalog Quicklooks: examples/catalog-quicklooks.ipynb
          - Ship identification: examples/ship-identification.ipynb
    - Code Reference:
        - up42: reference/up42-reference.md
        - Project: reference/project-reference.md
        - Workflow: reference/workflow-reference.md
        - Job: reference/job-reference.md
        - JobCollection: reference/jobcollection-reference.md
        - JobTask: reference/jobtask-reference.md
        - Catalog: reference/catalog-reference.md
        - Storage: reference/storage-reference.md
        - Order: reference/order-reference.md
        - Asset: reference/asset-reference.md
        - CLI: reference/cli-reference.md
    - CLI:
        - Command Line Interface (CLI): cli.md
        - Command Reference: reference/cli-reference.md
    -  Changelog & FAQ:
        - Changelog: CHANGELOG.md
        - FAQ & Support: support-faq.md
        - Privacy Policy: privacy-policy.md

## Configuration
theme:
  name: material
  custom_dir: docs/theme_override_home/
  # 404 page
  static_templates:
    - 404.html
  # Don't include MkDocs' JavaScript
  include_search_page: false
  search_index_only: true
  # Default values, taken from mkdocs_theme.yml
  language: en
  features:
    - navigation.tabs
  palette:
    primary: indigo
    accent: purple
  font:
    text: Roboto
    code: Roboto Mono
  icon:  # from .icons path. Add to theme override for custom logo.
    logo: up42-logo  # top left header logo
  favicon: assets/logo-up42.ico #browser tab logo

## Plugins
plugins:
  - search
  - autolinks
  - mkdocs-jupyter:
      include_source: False
  - macros:
      module_name: docs/macros
  - exclude:
      glob:
        - "*config*.json"
        - "*cfg*.json"
        - ".ipynb_checkpoints"
        - "*examples/project*"
        - "*examples/guides/*"
        - "*swagger*"
        - PULL_REQUEST_TEMPLATE.md
  - exclude-search:
      exclude:
        - cli-reference.md
      ignore:
        - cli-reference.md#command-line-interface-cli
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          rendering:
            show_root_heading: false
            show_source: true
            show_category_heading: true
          selection:
            filters:
              - "!^_"  # exlude all members starting with _
      watch:
        - src/my_library

## Custom theme additions
extra_javascript:
        - 'stylesheets/extra.js'
extra_css:
        - stylesheets/extra.css

## Extensions
markdown_extensions:
  - markdown.extensions.admonition
  - markdown.extensions.attr_list
  - markdown.extensions.def_list
  - markdown.extensions.footnotes
  - markdown.extensions.meta
  - markdown.extensions.toc:
      baselevel: 1
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.tabbed
  - mkdocs-click

google_analytics:
  - 'UA-132885718-1'
  - 'auto'
