## Project information
site_name: UP42 Python SDK
site_url: https://up42.github.io/up42-py/
site_description: UP42 Python SDK

## Repository
repo_name: up42-py
repo_url: https://github.com/up42/up42-py
edit_uri: ''  #disables edit button

# Copyright
copyright: UP42 2020

## Social Media
extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/up42
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/up42_
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/up42/

## Page tree
nav:
    - Home: index.md
    - Guides:
      - Installation: installation.md
      - Authentication: authentication.md
      - Structure: structure.md
      - 30 Second Example: 30-second-example.md
      - Typical Usage: typical-usage.md
      - Catalog Search: catalog.md
      - Command Line Interface: cli.md
    - Examples:
        - Examples: examples-intro.md
        - Radar processing: examples/radar_processing_1.ipynb
        - Airport monitoring: examples/airports-parallel.ipynb
        - Flood mapping: examples/flood_mapping.ipynb
    - Code Reference:
        - Project: reference/project.md
        - Workflow: reference/workflow.md
        - Job: reference/job.md
        - JobTask: reference/jobtask.md
        - Catalog: reference/catalog.md
        - Tools: reference/tools.md
    -  FAQ & Releases:
        - FAQ: support-faq.md
        - Release notes: CHANGELOG.md

## Configuration
theme:
  name: material
  custom_dir: docs/theme_override_home/
  # 404 page
  static_templates:
    - 404.html
  # Don't include MkDocs' JavaScript
  include_search_page: false
  search_index_only: true
  # Default values, taken from mkdocs_theme.yml
  language: en
  features:
    - tabs
    #- instant
  palette:
    primary: indigo
    accent: purple
  font:
    text: Roboto
    code: Roboto Mono
  icon:  # from .icons path. Add to theme override for custom logo.
    logo: up42-logo  # top left header logo
  favicon: assets/logo-up42.ico #browser tab logo

## Plugins
plugins:
  - search
  - autolinks
  - table-reader
  - mkdocs-jupyter
  - exclude:
      glob:
        - "*config*.json"
        - "*cfg*.json"
        - ".ipynb_checkpoints"
        - "*examples/project*"
        - "*examples/guides/*"
  - minify:
      minify_html: false #true
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          rendering:
            show_source: true
      watch:
        - src/my_library

## Custom theme additions
extra_javascript:
        - 'stylesheets/extra.js'
extra_css:
        - stylesheets/extra.css

## Extensions
markdown_extensions:
  - markdown.extensions.admonition
  - markdown.extensions.attr_list
  - markdown.extensions.codehilite:
      guess_lang: false
  - markdown.extensions.def_list
  - markdown.extensions.footnotes
  - markdown.extensions.meta
  - markdown.extensions.toc:
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji
  # - pymdownx.highlight:
  #     linenums_style: pymdownx-inline
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.tabbed

google_analytics:
  - 'UA-132885718-1'
  - 'auto'