mkdocs
mkdocs-material
pandoc
pygments
pymdown-extensions>=7.0b2
mkdocs-autolinks-plugin
mkdocs-table-reader-plugin
mkdocstrings
black
requests-mock
pytest<5.4
pytest-pylint
pytest-sugar
mypy
mypy-extensions
pytest-cov
pytest-mypy
coverage-badge