nbconvert
black
requests-mock==1.9.3
pylint==2.8.3
pytest==7.1.1
pytest-pylint==0.18.0
pytest-sugar==0.9.4
mypy==0.902
python-dateutil==2.8.2
types-python-dateutil
types-requests
types-mock
types-click
mypy-extensions==0.4.3
pytest-cov
pytest-mypy
mock
twine
