nbconvert
black
requests-mock
pylint==2.8.3
pytest
pytest-pylint
pytest-sugar
mypy==0.902
python-dateutil
types-python-dateutil
types-requests
types-mock
types-click
mypy-extensions
pytest-cov
pytest-mypy
coverage-badge
mock
twine
jupyter
