version: 2.1
orbs:
  notify-slack: interstellar/notify-slack@0.2.0

jobs:
  build_and_test:
    branches:
      ignore:
        - gh-pages
    docker:
      - image: circleci/python:3.7
    steps:
      - checkout
      - run:
          name: Install requirements
          command: |
            pip install -r requirements.txt
            pip install -r requirements-dev.txt
      - run:
          name: Runnning tests
          command: make test

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build_and_test:
          filters:
            branches:
              ignore:
                - gh-pages
