version: 2.1

venv-cache: &venv-cache venv-{{ checksum "poetry.lock" }}
pre-commit-cache: &pre-commit-cache pre-commit-{{ checksum ".pre-commit-config.yaml" }}

orbs:
  sonarcloud: sonarsource/sonarcloud@2.0.0
  automated-test: interstellar/automated-test@volatile

# variables
workspace: &workspace-dir /tmp/workspace

# E2E Tests
slack-channel-id-qa-alert: &slack-channel-id-qa-alert 'C06P4MXGY23'

jobs:
  test:
    working_directory: *workspace-dir
    docker:
      - image: cimg/python:3.12
    resource_class: large
    steps:
      - attach_workspace:
          at: *workspace-dir
      - checkout
      - restore_cache:
          name: Restoring poetry cache
          keys:
            - *venv-cache
      - run:
          name: Install requirements
          command: |
            poetry lock
            poetry install --no-interaction --no-ansi
      - save_cache:
          name: Saving poetry cache
          key: *venv-cache
          paths:
            - .venv
      - restore_cache:
          name: Restoring pre-commit cache
          keys:
            - *pre-commit-cache
      - run:
          name: Running pre-commit
          command: poetry run pre-commit run --all
      - save_cache:
          name: Saving pre-commit cache
          key: *pre-commit-cache
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Running tests
          command: |
            poetry run pytest
      - store_test_results:
          path: out/test_results
      - store_artifacts:
          path: out/coverage
      - sonarcloud/scan:
          sonar_token_variable_name: SONAR_TOKEN
      - persist_to_workspace:
          root: ./
          paths:
            - up42
            - .coverage-reports
            - .circleci
            - sonar-project.properties

  test-python:
    parameters:
      python-version:
        type: string
        default: "3.11"
    working_directory: *workspace-dir
    docker:
      - image: cimg/python:<< parameters.python-version >>
    resource_class: large
    steps:
      - attach_workspace:
          at: *workspace-dir
      - checkout
      - restore_cache:
          name: Restoring poetry cache
          keys:
            - *venv-cache
      - run:
          name: Install requirements
          command: |
            poetry lock
            poetry install --no-interaction --no-ansi
      - save_cache:
          name: Saving poetry cache
          key: *venv-cache
          paths:
            - .venv
      - restore_cache:
          name: Restoring pre-commit cache
          keys:
            - *pre-commit-cache
      - run:
          name: Running pre-commit
          command: poetry run pre-commit run --all
      - save_cache:
          name: Saving pre-commit cache
          key: *pre-commit-cache
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Running tests
          command: |
            poetry run pytest
      - store_test_results:
          path: out/test_results
      - store_artifacts:
          path: out/coverage

  deploy:
    docker:
      - image: cimg/python:3.11
    steps:
      - checkout
      - run:
          name: Build and upload package
          command: poetry publish --build -u __token__ -p $UP42_PY_PYPI_TOKEN

workflows:
  test_and_deploy:
    jobs:
      - test:
          context: sonarcloud
      - test-python:
          matrix:
            parameters:
              python-version: [ "3.10", "3.11", "3.12", "3.13", "3.14" ]
      - automated-test/run-sdk-tests:
          requires:
            - test
          machine-size: interstellar/gke-cpu-large
          name: sdk-e2e-tests
          fingerprint: 'c5:5a:28:b3:5e:21:8d:9c:6c:b1:9b:a7:7b:f3:41:0c'
          run-command: make test-all
          context:
            - 'sdk-tests-staging-build'
          post-steps:
            - automated-test/notify-slack:
                test-name: 'SDK E2E tests for up42-py failed!'
                channel: *slack-channel-id-qa-alert
          filters:
            branches:
              only: master
      - hold_before_deploy:
          type: approval
          requires:
            - sdk-e2e-tests
          filters:
            branches:
              only: master
      - deploy:
          context: pypi-python-package-publishing
          requires:
            - hold_before_deploy
          filters:
            branches:
              only: master
