name: Publish docs via GitHub Pages

on: push

jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master
        uses: actions/checkout@v2

      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Install dependencies
        run: |
          python -m pip install -r requirements-docs.txt
          python -m pip install -e .

      - name: Create symlinks for examples and changelog
        run: |
              ls
              ln -sfn examples docs
              ln -sfn examples/guides docs
              ln -sfn CHANGELOG.md docs

      - name: Deploy docs
        run: mkdocs gh-deploy --force -m "update gh-pages [ci skip]"
